---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-color: #4d4d4d;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$serif-font-family: 'Playfair Display', serif;

$header-font-family: 'Rubik', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-weight: 400;
$header-font-color: #737373;
$header-hr-color: #e69500;

$header-underline-color: gray;

$content-font-family: 'Rubik', sans-serif;
$content-font-weight: 300;
// $content-color: #f7f5d9;

$code-title-font-family: 'Inconsolata', monospace;

$content-color: black;

$homepage-link-color: #0080ff;

$spacing-unit:     30px;

// $text-color:       #111;
$background-color: #fcfcfc;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$max-width: 	   850px;
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";
@import "../node_modules/jeet/jeet";
//@include debug();
@import
	"header",
	"layout",
	"project",
	"random"


