---
layout: page
title: "design projects"
description: "these are my design projects, where technology is guided by user needs and human factors."
permalink: /projects/design/
---
	<div class="shared-container">
		<div class="projects-header">
			<h2><a class="shared-reg-link" href="/projects">Projects</a> → Design</h2>
			<div class="project-intro-text">I've done projects in the human-computer interaction space, covering user research and needfinding to wireframing to actual implementation. Longer descriptions of the design process for each coming soon!</div>
		</div>

		<hr class="project-hr">

		<div class="section group project-sub-container">
			<div class="col span_1_of_2">
				<!-- {% include project.html type="design" title="Flagpoll" img="flagpoll.png" name="flagpoll" text="A Chrome extension that lets users crowdsource video annotations to find tricky and interesting parts of videos to improve learning." %} -->

				<!-- A paper exploring the effectiveness of the tool can be found <a  class='shared-reg-link' href='https://github.com/mathieurolfo/Flagpoll'>here</a>; codebase <a  class='shared-reg-link' href='https://github.com/mathieurolfo/Flagpoll'>here</a>." -->

				{% include project.html type="design" title="Habitlab" img="habitlab.png" name="habitlab" text="A Chrome extension that helps facilitate better online habits by making various nudges towards good actions." %}
				

			</div>
			<div class="col span_1_of_2">
				{% include project.html name="scanme" type="design" title="SCANME" img="scanme.png" text="A smartphone-based app that allows people to use augmented reality to set a social digital status. Users can both communicate with their friends and digitally augment their identity to share with strangers." %}

				

			</div>
		</div>
		


	</div>
