---
layout: page
title: "design projects"
description: "these are my design projects, where technology is guided by user needs and human factors."
permalink: /projects/design/
---
	<div class="container">
		<div class="projects-header">
			<h2><a class="reg-link" href="/projects">Projects</a> → Design</h2>
			<div class="intro-text">I've done projects in the human-computer interaction space, covering user research and needfinding to wireframing to actual implementation. Longer descriptions of the design process for each coming soon!</div>
		</div>

		<hr id="project-hr">

		<div class="section group projects-sub-container">
			<div class="col span_1_of_2">
				{% include project.html type="design" title="Flagpoll" img="flagpoll.png" name="flagpoll" text="A Chrome extension that lets users crowdsource video annotations to find tricky and interesting parts of videos to improve learning." %}

				<!-- A paper exploring the effectiveness of the tool can be found <a  class='reg-link' href='https://github.com/mathieurolfo/Flagpoll'>here</a>; codebase <a  class='reg-link' href='https://github.com/mathieurolfo/Flagpoll'>here</a>." -->

				{% include project.html type="design" title="Habitlab" img="habitlab.png" name="habitlab" text="Through the Stanford HCI group, I worked on a Chrome extension that would help facilitate better online habits and counteract procrastination by making small nudges towards good actions. More info is <a  class='reg-link' href='https://habitlab.stanford.edu'>here</a>; codebase is <a  class='reg-link' href='https://github.com/habitlab/habitlab'>here</a>." %}
				

			</div>
			<div class="col span_1_of_2">
				{% include project.html name="scanme" type="design" title="SCANME" img="scanme.png" text="SCANME is a system that allows people to use augmented reality to set a social digital status. SCANME gives users the creative freedom afforded by augmented reality to communicate with their friends and digitally augment their identity to share with strangers. Video can be seen <a class='reg-link' href='https://www.youtube.com/watch?v=s5G1TvlTU0M'>here</a>." %}

				

			</div>
		</div>
		


	</div>
