---
layout: page
title: "people projects"
description: "I've done a variety of non-technical projects, from education to usability analyses to taking on leadership roles in organizations."
permalink: /projects/people/
---

<div class="shared-container">
		<div class="projects-header">
			<h2><a class="shared-reg-link" href="/projects">Projects</a> →  People</h2>
			<div class="project-intro-text">I've done a variety of non-technical projects, from education to usability analyses to taking on leadership roles in organizations.</div>
		</div>

		<hr class="project-hr">

		<div class="section group project-sub-container">
			<div class="col span_1_of_2">
				{% include project.html title="CS94SI" text="I designed the curriculum and co-taught a non-technical introduction to artificial intelligence with two other students, the first of its kind taught at Stanford. The class explored the intersections of AI and society, art, and law, as well as covering topics like the Singularity. We mentored final group projects as part of the class, and organized field trips to the PACE Gallery and a visit to Google's autonomous car. You can view the <a  class='shared-reg-link' href='https://cs94si.wordpress.com/'>CS94SI class site</a> as well." %}

				
				{% include project.html title="Enchanted Broccoli Forest" text="I was the financial manager for the <a class='shared-reg-link' href='http://web.stanford.edu/group/EBF/ebfaq.shtml'>Enchanted Broccoli Forest</a>, a co-ed cooperative house on Stanford campus. I was responsible for managing a $60,000 annual social and food (we cooked all of our own meals) budget, and helped foster an amazing community through awesome events. I also helped bring musicians like <a class='shared-reg-link' href='https://soundcloud.com/noname'>Noname</a>, <a class='shared-reg-link' href='http://www.junglepussy.nyc/'>Junglepussy</a>, and <a class='shared-reg-link' href='http://www.junglepussy.nyc/'>Oshi</a> from around the United States to perform at EBF for hundreds of students." %}
				

			</div>
			<div class="col span_1_of_2">
				
				{% include project.html title="Minds and Machines" text="I was a teaching assistant for the Symbolic Systems gateway course, <a class='shared-reg-link' href='http://web.stanford.edu/class/symsys1/'>Minds and Machines</a>.  In the class, we covered functionalism and competing theories of mind, cognition as Bayesian inference, and a multitude of other interesting ideas from cognitive science. I helped design course curriculum, graded assignments, held office hours for students, and ran two 15-student sections. As a result, many of my sectionees ended up declaring SymSys!" %}


				{% include project.html title="Trello Analysis" text="I became really interested in Trello as a project management tool, and thought deeply about its strengths and weaknesses for collaborating with a team on a variety of projects. I wrote a cognitive usability analysis of my efforts to switch a single team over to it, and you can read the <a class='shared-reg-link' href='../../files/trello.pdf'>Trello paper</a> here." %}

				

			</div>
		</div>
		


	</div>
