---
layout: page
title: people_projects
description: "I've done a variety of non-technical projects, from education to usability analyses to taking on leadership roles in organizations."
permalink: /projects/people/
---

<div class="container">
		<div class="projects-header">
			<h2><a class="reg-link" href="/projects">Projects</a>: People</h2>
			<div class="intro-text">I've done a variety of non-technical projects, from education to usability analyses to taking on leadership roles in organizations.</div>
		</div>

		<hr id="project-hr">

		<div class="section group projects-sub-container">
			<div class="col span_1_of_2">
				{% include project.html title="CS94SI" text="I co-taught a non-technical introduction to artificial intelligence. We explored the intersection of AI and society, mentored group projects, and field trips including a visit to Google's autonomous car. Class site <a href='https://cs94si.wordpress.com/'>here</a>." %}

				

				

			</div>
			<div class="col span_1_of_2">
				{% include project.html title="Trello Analysis" text="I became really interested in Trello as a project management tool, and thought deeply about its strengths and weaknesses. I wrote a cognitive usability analysis of my efforts to switch a team over to it, which you can read <a href='../files/trello.pdf'>here</a>." %}

				

			</div>
		</div>
		


	</div>
