<div class="header">
	<div><a id="name" href="{{ site.url }}">Mathieu Rolfo</a></div>
	<div><a class="sublink" href="https://www.linkedin.com/in/mathieu-rolfo-555a1563">linkedin </a></div>
	<div><a class="sublink" href="http://www.github.com/mathieurolfo">github </a></div>
	{% for page in site.pages %} {% if page.title %}
		<div><a class="sublink" href="{{ page.url | prepend: site.baseurl }}">projects </a></div>
	{% endif %}
	{% endfor %}
	<div><a class="sublink" href="http://localhost:4000/files/resume.pdf">resume </a></div>
	
</div>