

<div id="header">
	<div id="header-left"><a id="header-name" href="/">mathieu rolfo</a></div>
	<div id="header-right">
		<span><a class="header-link" href="https://www.linkedin.com/in/mathieu-rolfo-555a1563">linkedin</a></span>
		<span><a class="header-link" href="http://www.github.com/mathieurolfo">github</a></span>
		
		{% if page.url == '/projects/' %}
    		<span><a class="header-link header-underline" href="/projects">projects</a></span>

		{% else %}
			<span><a class="header-link" href="/projects">projects</a></span>
    	{% endif %}
		
		<span><a class="header-link" href="/files/resume.pdf">resume</a></span>
		
		{% if page.url == '/random/' %}
    		<span><a class="header-link header-underline" href="/random">random</a></span>

		{% else %}
			<span><a class="header-link" href="/random">random</a></span>
    	{% endif %}

	</div>
	
</div>
<hr id="header-hr">

