<div class="project {{include.type}} ">
	{% if include.type == 'design' %}
		<a href="{{site.url}}/projects/design/{{include.name}}" class="shared-reg-link">
			<div class="design-project-title ">{{include.title}}</div>
			{% if include.img %}
			<img class="image project-img" src="{{site.url}}/files/{{include.img}}">
			{% endif %}
		</a>
		
		<div class="description">{{include.text}}</div>
		
	{% else %}
		<div class="project-title ">{{include.title}}</div>
		{% if include.img %}
		<img class="image project-img" src="{{site.url}}/files/{{include.img}}">
		{% endif %}
		<div class="description">{{include.text}}</div>
	{% endif %}
</div>