

#brain {
	visibility: hidden;
}

p {
	color: white;
}

body {
	background: black;
}

.container {
	padding-left: 71px;
	width: 60%;
	font-family: 'Source Sans Pro';
	font-weight: 400;	
	color: #CCFFE5;	 
	div {
		margin-bottom: 5px;
	}
	.bullet {
		margin-bottom: 20px;
		margin-left: 20px;
		font-style: italic;
	}
}