

body {
	background: #222222;
}

#headline {
	font-family: $serif-font-family;
	font-size: 200%;
	margin-bottom: 60px;
	
}


.container {
	padding-left: 71px;
	width: 65%;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;	
	color: $content-color; 
	div {
		margin-bottom: 20px;
	}
	.bullet {
		margin-bottom: 25px;
		margin-left: 20px;
		font-style: italic;
	}
	.bullet2 {
		margin-left: 20px;
		font-style: italic;
	}

	.month {
		font-style: normal;
		margin-right: 8px;
	}
}

#venn {
	
	min-width: 25px;
	min-height: 25px;
	max-width: 500px;
	max-height: 500px;
	height: 600px;
	width: 600px;
	margin-left: 10%;
}

svg {
	// fill: white;
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 24px;

}




@media only screen and 
(min-device-width: 320px) and 
(max-device-width: 736px) {
	.container {
		width: 80%;
		font-size: 240%;
		.bullet {
			margin-bottom: 50px;
			margin-left: 30px;
		}
		.bullet2 {
			margin-left: 30px;
		}
		.month {
			margin-right: 15px;
		}
	}

}

// @media only screen and (min-device-width: 1000px) {
// 	body{font-size: 16px;}
// }

@media only screen and (max-width: $max-width) {
	
}
