
.projects-header {
	margin-left: 15%;
	margin-right: 15%;
	.project-intro-text {
		font-style: italic;
	}
}


.project-lead-text {
	font-size: 140%;
	background-color: #ffe4b3;
}


.project-img {
	max-width: 400px;
	max-height: 400px;
}

.design-project-title {
	font-size: 130%;
}

.project-title {
	font-size: 130%;
	text-decoration: underline;
}

.picture-above {
	margin-top: 2%;
}

.spaced {
	margin-bottom: 2%;
}

.caption {
	font-size: 75%;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

h1 {
	text-decoration: underline;
}

.project-hr {
	border-bottom: 3px solid;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-color: $header-hr-color;
	opacity: 0.75;
	// width: 95%;
	// margin-left: -5%;
	// margin-right: -5%;
	padding-top: 2.5%;
	position: relative;
	margin-bottom: 4.5%;
}

.projects-sub-container {
	text-align: center;
	
	// width: 60%;
	// padding-left: 15%;
	// padding-right: 15%;
}

.project {
	div {
		margin-bottom: 3px;
	}
	// max-width: 70%;
	// min-width: 230px;
	margin-left: 8%;
	margin-right: 8%;
	text-align: center;
	align-content: center;

	padding-bottom: 30px;
	
	.title {
		text-decoration: underline;
	}
}


.image {
	width: 90%;
}


#width-container {
	width: 80%;
	margin: auto;
}

.embed-container { position: relative;  padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 

.embed-container iframe, .embed-container object, .embed-container embed {position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.narrow-box {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.project-screenshot {
	margin-bottom: 2%;
	max-width: 80%;
}

/*  SECTIONS  */
.section {
	clear: both;
	// padding: 0px;
	// margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	text-align: center;
	margin: 1% 0 1% 0%;
}

.span_1_of_2 {
	text-align: center;
	width: 50%;
}

.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}






@media only screen and 
(min-device-width: 320px) and 
(max-device-width: 736px) {
	.col { margin: 1% 0 1% 0%;}
	.span_1_of_2 { width: 100%; }
	.project {
		min-width: 80%;
		max-width: none;
		//text-align: left;
	}
	.description {
		text-align: left;
	}

	.project-intro-text {
		text-align: left;
	}

	.projects-sub-container {
	}
	hr {
		border-width: 0px;
	}
		margin-right: 10%;
	}
	.projects-header {
		margin-left: 10%;
	.venn {
		width: 100%;
	}

	#brain {
		width: 70%;
	}
	.narrow-box {
		width: 100%;
	}
	#width-container {
		width: 100%;
	}
}


@media only screen and (max-width: $max-width) {
	.col { margin: 1% 0 1% 0%;}
	.span_1_of_2 { width: 100%; }
	// .project {text-align: left; align-content: left;}
	.project-img {
		max-width: 400px;
		max-height: 400px;
		width: 80%;
		height: 80%;
	}

}