body {
	font-family: $content-font-family;
	font-weight: $content-font-weight;	
	color: $content-color;	 
}



.projects-header {
	// width: 60%;
	// margin-left: 71px;
	min-width: 260px;
	.intro-text {
		font-style: italic;
	}
}

#project-hr {
	border-bottom: 3px solid;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-color: #FFE4C4;
	width: 95%;
	padding-top: 20px;
	position: relative;
	left: 20px;
}

.projects-sub-container {
	margin-left: 20px;
	padding-top: 20px;
	// width: 60%;
}

.project {
	div {
		margin-bottom: 3px;
	}
	max-width: 350px;
	min-width: 230px;
	// text-align: center;
	// align-content: center;
	a {
		color: #42F49E;
	}
	padding-bottom: 30px;
	.title {
		text-decoration: underline;
	}
}


.image {
	width: 90%;
}



/*  SECTIONS  */
.section {
	clear: both;
	// padding: 0px;
	// margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 5%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}


.span_1_of_2 {
	width: 43%;
}



@media only screen and 
(min-device-width: 320px) and 
(max-device-width: 736px) {
	.col { margin: 1% 0 1% 0%;}
	.span_1_of_2 { width: 100%; }
	.project {
		min-width: 80%;
		max-width: none;
	}
	.projects-sub-container {
		margin-left: 60px;
	}
	hr {
		border-width: 0px;
	}
	
}


@media only screen and (max-width: $max-width) {
	.col { margin: 1% 0 1% 0%;}
	.span_1_of_2 { width: 100%; }
	.project {text-align: left; align-content: left;}
}