#random-header-1 {
	-ms-transform: rotate(8deg); /* IE 9 */
    -webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
    transform: rotate(8deg);
    display: inline-block;
    font-weight: 600;
    font-size: 150%;
    padding-right: 10px;
}

#random-header-2 {
	position: relative;
	top: 3px;
	-ms-transform: rotate(-13deg); /* IE 9 */
    -webkit-transform: rotate(-13deg); /* Chrome, Safari, Opera */
    transform: rotate(-13deg);
    display: inline-block;
    font-weight: 600;
    font-size: 150%;
}

.random-sentence-begin {
	font-weight: 400;
}

.random-pic {
	width: 300px;
	height: 300px;
}

#random-content {
	padding-top: 5%;
}

.random-item {
	padding-bottom: 1.5%;
}

// .random-1 {
// 	position: relative;
// 	left: 10%;
// 	//margin-left: 30px;
// }

// .random-2 {
// 	position: relative;
// 	right: 20%;
// }

// .random-3 {
// 	position: relative;
// 	left: 27%;
// }

@media only screen and 
(min-device-width: 320px) and 
(max-device-width: 736px) {
	.random-pic {
		width: 80%;
		height: 80%;
		position: auto;
	}
}