#random-header-1 {
	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

#random-header-2 {
	-ms-transform: rotate(-12deg); /* IE 9 */
    -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
    transform: rotate(-12deg);
}

.random-sentence-begin {
	font-weight: 400;
}

.random-pic {
	width: 300px;
	height: 300px;
}

#random-content {
	padding-top: 5%;
}

.random-item {
	padding-bottom: 1.5%;
}

@media only screen and 
(min-device-width: 320px) and 
(max-device-width: 736px) {
	.random-pic {
		width: 80%;
		height: 80%;
	}
}