

body {
	background: $background-color;
	font-family: $content-font-family;
	font-weight: $content-font-weight;	
	color: $content-color;	 
	font-size: $small-font-size;
}



.shared-container {
	text-align: center;
	padding-left: 10%;
	width: 80%;
	font-family: $content-font-family;
	font-weight: $content-font-weight;	
	color: $content-color; 
	div {
		margin-bottom: 20px;
	}
}

.shared-venn {
	display: block;
	margin: auto;
	text-align: center;
	padding-top: 10px;
	max-width: 400px;
	width: 60%;
	font-family: $content-font-family;
}

svg {
	color: #222222;
	font-family: $content-font-family;
	font-size: 150%;
	pointer-events: all;
}

.shared-reg-link {
	color: 	$homepage-link-color;
}

.shared-reg-link:hover {
	cursor: pointer;
	color: 	$homepage-link-color;
}

.shared-reg-link:visited {
	color: 	$homepage-link-color;
}


@media only screen and 
(min-device-width: 320px) and 
(max-device-width: 736px) {
	
	.shared-container {
		width: 80%;
		font-size: 240%;
	}

	.shared-venn {
		width: 80%;
		max-width: none;
	}

}

@media all and (orientation: landscape) {
	
}

@media only screen and (max-width: $max-width) {
	
}
